body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    background-color: white;
    text-align: center;
    margin: auto;
}

.middle {
    height: 10cm;
}

#nav {
    background: dimgrey;
}

#left {
    background: blue;
    float: left;
    width: 50%;
    height: 8cm;
    line-height: 6.5cm;
}

#right {
    background: red;
    float: right;
    width: 25%;
    height: 8cm;
    line-height: 6.5cm;
}

#footer {
    background: green;
}